<div class="add-place none autorized">
  <div class="place-form login-form">
    <i class="fa fa-times close-window closeau"></i>
    <h3><%= t ".login" %><span></span></h3>
    <form>
      <label><%= t ".email" %><input type="email"></label>
      <label><%= t ".password" %><input type="password"></label>
      <% link_to t(".login"), "#", class: "btn btn-success" %>
    </form>
  </div>
</div>
