<% track_index.each do |track| %>
  <div class="pg style-list">
    <img src="http://i.imgur.com/XaZCBtV.png" alt="">
    <div class="con">
      <h2>
        <%= link_to track.title, track_path(id: track.id) %>
        <h4><%= link_to track.uploader.name, users_show_path(id: track.user_id) %></h4>
      </h2>
      <span>
        <%= render "shared/song", track: track %>
      </span>
      <%= link_to t('.comments').html_safe,
        "#", class: "comm" %>
    </div>
  </div>
<% end %>
